<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzhu.bm.repo.BmOrderMapper" >
  <resultMap id="BaseResultMap" type="com.gzhu.bm.entity.BmOrder" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="bm_order_id" property="bmOrderId" jdbcType="BIGINT" />
    <result column="order_type" property="orderType" jdbcType="TINYINT" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="books_id" property="booksId" jdbcType="BIGINT" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="order_chapters" property="orderChapters" jdbcType="BIGINT" />
    <result column="order_fee" property="orderFee" jdbcType="DECIMAL" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="pay_type" property="payType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="queryParams">
  	<where>
  		1=1
  		<if test="record.bmOrderId != null">
  			and bm_order_id = #{record.bmOrderId,jdbcType=BIGINT}
  		</if>
  		<if test="record.orderType != null">
  			and order_type = #{record.orderType,jdbcType=TINYINT}
  		</if>
  		<if test="record.uid != null">
  			and uid = #{record.uid,jdbcType=VARCHAR}
  		</if>
  		<if test="record.booksId != null">
  			and books_id = #{record.booksId,jdbcType=BIGINT}
  		</if>
  		<if test="record.orderDate != null">
  			and order_date = #{record.orderDate,jdbcType=TIMESTAMP}
  		</if>
  		<if test="record.orderChapters != null">
  			and order_chapters = #{record.orderChapters,jdbcType=BIGINT}
  		</if>
  		<if test="record.orderFee != null">
  			and order_fee = #{record.orderFee,jdbcType=DECIMAL}
  		</if>
  		<if test="record.payType != null">
  			and pay_type = #{record.payType,jdbcType=TINYINT}
  		</if>
  		<if test="record.payTime != null">
  			and pay_time = #{record.payTime,jdbcType=TIMESTAMP}
  		</if>  		 
  	</where>
  </sql>
  <select id="selectCount" resultType="java.lang.Integer">
  	select count(*) from bm_order 
  	<include refid="queryParams"></include>
  </select>
   <select id="selectPage" resultMap="BaseResultMap">
  	select * from bm_order 
  	<include refid="queryParams"></include>
  	limit ${page.pageSize*(page.page -1)},${page.pageSize}
  </select>
</mapper>